@font-face {
    font-family: myFont;
    src: url(../fonts/Computer-Condensed.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(imagini/banner.png) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .blended-image {
    position: relative;
    max-height: 170px;
    max-width: 200px
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 45px;
    font-family: myFont;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
    transition: color 0.3s;
}

header .navbar ul li a:hover {
    color: red;
}


header .navbar .dropdown:hover .dropdown-menu {
    display: block;
}

header .navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 10px;
}

header .navbar .dropdown-menu li {
    margin-bottom: 10px;
}

header .navbar .dropdown-menu li a {
    display: block;
    color: #333;
    text-decoration: none;
}
header .navbar .cart-icon{
    width: 50px;
}
header .navbar .dropdown .login-icon{
    width: 50px;
}
#nav-toggle{
    display: none;
}
header label{
    font-size: 60px;
    color :#333;
    cursor: pointer;
    display: none;
    padding: 20px;
    transition: color 0.3s;
    font-family: myFont;
}
header label:hover{
    color: red;
}

/* Add your existing CSS styles here */

@media (max-width: 1200px) {
    header {
      padding: 20px;
    }
  
    header label {
      display: block;
      cursor: pointer;
    }
    /* how can i make it to be vertical */
    header .navbar ul {
      position: absolute;
      top: 100%;
      left: 0;
      background:white;
      width: 100%;
      transform: scale(0);
      transform-origin: top;
      transition: transform 0.3s;
    }

    header .navbar ul li {
      width: 100%;
      text-align: left;
    }

    header .navbar ul li a {
      font-size: 40px;
      padding: 10px;
    }

    header .navbar ul li a:hover {
      color: red;
    }

    #nav-toggle:checked ~ .navbar ul {
      transform: scale(1);
    }
    /* how can i make it so the logo is on the right side */
    header .navbar .dropdown-menu {
      position: static;
      padding: 10px;
      transform: scale(0);
      transform-origin: top;
      transition: transform 0.3s;
    }
    header .navbar .dropdown-menu li a {
        font-size: 40px;
        padding: 10px;
        transition: color 0.3s;
    }
    header .navbar .dropdown-menu li a:hover {
        color: blue;
    }

    header .blended-image {
        position: absolute;
        top: 50%;
        right:0px;
        transform: translate(-20%, -50%);
        
    }

    header .navbar .dropdown:hover .dropdown-menu {
      transform: scale(1);
    }
  }
  * {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;


}


/*------------ despre ----------------*/
.despre {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-size: 30px;
    font-weight: 600;

}

p {
    color: black;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;


}

.course-col {
    flex-basis: 31%;
    background: #0F495C;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 40px;
}

.course-col:hover {
    box-shadow: 10px 10px 10px 10px rgba(1, 1, 1, 6);
}

/*------------jocuri-------------*/
.jocuri {
    text-align: center;
    width: auto;
    position: relative;


}

* {
    box-sizing: border-box;
}

.column {
    width: 100%;
    padding: 5px;
    background-size: contain;
}

.layer {
    background: transparent;
    height: 84%;
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    transition: 0.5s;



}

.layer:hover {
    background: rgba(226, 0, 0, 0.5)
}

.layer h3 {
    color: black;
    font-weight: 700;

    transition: 0.5s;
    position: absolute;
    transform: translateX(50%);
    left: 38.5%;
    opacity: 0;
}

.layer:hover h3 {
    top: 37%;
    opacity: 1;
}

.layer h2 {
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h2 {
    bottom: 49%;
    opacity: 1;
}


/*----rewiew---*/

.rewiew {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 30px
}

.rewiew-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #FE0303;
    padding: 25px;
    cursor: pointer;
    display: flex;
    transition: 0.5s all;
}

.rewiew-col:hover {
    box-shadow: 10px 10px 10px 10px rgba(1, 1, 1, 6);
}

.rewiew-col img {
    height: 150px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.rewiew-col p {
    padding: 0;
    font-size: 25px;
}

.rewiew-col h3 {
    margin-top: 15px;
    text-align: left;

}

.rewiew-col .fa {
    color: #DCFF00;
}



/*----------final-------*/
.final { 
    width: 100%;
    text-align: center;
    padding: 30px 0;
    
}
.final h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}
 
.final p{
    font-size:20px;
}
.icons .fa{
    color: red;
    cursor: pointer;
    margin:0 5px;
    font-size:20px
}
